.mapComponent {
  position: absolute;
  top: 55%;
  left: 55%;
  height: 80%;
  width: 84%;
  background-color: transparent;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  padding: 50px 35px;
  border-radius: 58px;
  flex: 1;
  flex-direction: 'row';
  flex-wrap: 'wrap';
}

.map {
  position: absolute;
  top: 50%;
  left: 23.5%;
  height: 86%;
  width: 43%;
  background-color: #5e73eb3b;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  padding: 50px 35px;
  border-radius: 58px;
}

.mapInfo {
  position: absolute;
  top: 50%;
  left: 74.5%;
  height: 86%;
  width: 46%;
  background-color: #5e73eb3b;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  padding: 50px 35px;
  border-radius: 58px;
}

.campusImage {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  backdrop-filter: blur(10px);
}

.mousePos {
  position: absolute;
  top: 20%;
  left: 70.5%;
}

img[usemap] {
	border: none;
	height: auto;
  max-width: 100%;
	width: auto;
}