.active-friend {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  margin-top: 19px !important;
}

.image-active-icon {
  display: flex;
  white-space: nowrap;
}

.activeUserImage {
  margin: 5px;
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid rgb(255, 250, 250);
}

.active-icon {
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(27, 223, 53);
}