.buttonViewFloor {
  display: inline-block !important;
  padding: 0.3em 1.2em !important;
  margin: 0 0.1em 0.1em 0 !important;
  border: 0.16em solid rgba(255, 255, 255, 0) !important;
  border-radius: 2em !important;
  box-sizing: border-box !important;
  text-decoration: none !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  text-align: center !important;
  color: white !important;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35) !important;
  text-align: center !important;
  transition: all 0.2s !important;
  background-color: #5f43dd !important;
  border-color: rgb(141, 144, 255) !important;
  position: absolute !important;
  top: 2% !important;
  left: 80%;
}

.buttonViewFloor:hover {
  border-color: rgba(255, 255, 255, 1) !important;
}

.buttonViewLowerFirstFloor {
  display: inline-block !important;
  padding: 0.3em 1.2em !important;
  margin: 0 0.1em 0.1em 0 !important;
  border: 0.16em solid rgba(255, 255, 255, 0) !important;
  border-radius: 2em !important;
  box-sizing: border-box !important;
  text-decoration: none !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  text-align: center !important;
  color: white !important;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35) !important;
  text-align: center !important;
  transition: all 0.2s !important;
  background-color: #5f43dd !important;
  border-color: rgb(141, 144, 255) !important;
  position: absolute !important;
  top: 93% !important;
  left: 10%;
}

.buttonViewLowerFirstFloor:hover {
  border-color: rgba(255, 255, 255, 1) !important;
}

.buttonViewFirstFloor {
  display: inline-block !important;
  padding: 0.3em 1.2em !important;
  margin: 0 0.1em 0.1em 0 !important;
  border: 0.16em solid rgba(255, 255, 255, 0) !important;
  border-radius: 2em !important;
  box-sizing: border-box !important;
  text-decoration: none !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  text-align: center !important;
  color: white !important;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35) !important;
  text-align: center !important;
  transition: all 0.2s !important;
  background-color: #5f43dd !important;
  border-color: rgb(141, 144, 255) !important;
  position: absolute !important;
  top: 83% !important;
  left: 10%;  
}

.buttonViewFirstFloor:hover {
  border-color: rgba(255, 255, 255, 1) !important;
}

.floorImage {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100%;
  border-radius: 30px;
  backdrop-filter: blur(10px);
}