body {
  background-color: #767ae981;
}

.logInContainer {
  height: 90%;
  width: 50%;
  background-color: #420e8793;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 68%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 5px solid rgba(71, 1, 124, 0.353);
  padding: 50px 35px;
  border-radius: 58px;
}

.log {
  border-radius: 58px;
  background: #5820bf98 !important; 
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 4%;
  width: 90%;
  height: 70%;
  backdrop-filter: blur(10px);
}

.logo {
  position: absolute;
  top: 10%;
  right: 105%;
  height: 65%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(67, 22, 135, 0.268); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5330987f; 
}
