.messageCenter {
  height: 100%;
  border-radius: 5%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.time {
  margin-top: 50px;
  padding: 1px 0px;
  color: #ffffffd9;
  font-size: 12px;
  text-align: end;
}

.message-text .img {
  width: 220px;
  height: 270px;
  margin-right: 0px;
  overflow: hidden;
  object-fit: cover;
}

/* USER WHO IS LOGGED IN */

.my-message {
  float: right;
  margin-right: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.my-image-and-message {
  float: right;
  display: flex;
  flex-direction: column;
}

.my-message-text {
  background: linear-gradient(to bottom, #6f67ff, #594cbe);
  color: white;
  width: auto;
  max-width: 300px;
  height: auto;
  overflow: scroll;
  border: 1px solid linear-gradient(to bottom, #c7c5f4c8, #766bcccb);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: -5px;
  border-radius: 5%;
}

/* USER'S FRIEND */

.friend-message {
  float: left;
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}

.friend-image-and-message {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.friend-message-image {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgb(255, 250, 250);
  margin-top: 0px;
  margin-right: 10px;
}

.friend-message-text {
  background: #240686;
  color: white;
  width: auto;
  max-width: 300px;
  height: auto;
  overflow: scroll;
  border: 1px solid linear-gradient(to bottom, #c7c5f4c8, #766bcccb);
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: -5px;
  border-radius: 5%;
  margin-top: 40px;
}

