/* SWITCHERS */

/* Teacher Switcher */
.switchTeacher {
  position: absolute;
  top: 25%;
  left: 45% !important;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switchTeacher:before {
  position: absolute;
  content: "Teacher";
  right: 119%;
  top: -20%;
  color: rgb(226, 223, 229);
  text-shadow: 1px 1px #754bff;
  font-size: 40px;
  font-family: Raleway, sans-serif;
}

.switchTeacher input[type="checkbox"] {
  display: none;
}
.switchTeacher .switch {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.switchTeacher .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: #3c00ff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.switchTeacher input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: #3c00ff;
}
.switchTeacher input[type="checkbox"]:checked + .switch {
  background-color: #240686;
}

/* Student Switcher */
.switchStudent {
  position: absolute;
  top: 25%;
  left: 60% !important;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switchStudent:before {
  position: absolute;
  content: "Student";
  right: 119%;
  top: -20%;
  color: rgb(226, 223, 229);
  text-shadow: 1px 1px #754bff;
  font-size: 40px;
  font-family: Raleway, sans-serif;
}

.switchStudent input[type="checkbox"] {
  display: none;
}
.switchStudent .switch {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.switchStudent .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: #3c00ff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.switchStudent input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: #3c00ff;
}
.switchStudent input[type="checkbox"]:checked + .switch {
  background-color: #240686;
}

/* Pass Switcher */
.switchPass {
  position: absolute;
  top: 25%;
  left: 73% !important;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switchPass:before {
  position: absolute;
  content: "PASS";
  right: 119%;
  top: -20%;
  color: rgb(226, 223, 229);
  text-shadow: 1px 1px #754bff;
  font-size: 40px;
  font-family: Raleway, sans-serif;
}

.switchPass input[type="checkbox"] {
  display: none;
}
.switchPass .switch {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.switchPass .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: #3c00ff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.switchPass input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: #3c00ff;
}
.switchPass input[type="checkbox"]:checked + .switch {
  background-color: #240686;
}
